.root {
  @apply fixed bottom-0 left-0 right-0 top-0 translate-x-full transform transition-transform br:hidden z-50;

  &:global(.app-drawer-open) {
    @apply translate-x-0;
  }

  :global(.app-drawer-content-wrapper) {
    height: 100%;

    :global(.app-drawer-content) {
      height: 100%;
      overflow: auto;
      @apply bg-white;
    }
  }
}
